[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pip = "*"
ipython = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
